/* index.css */

body {
    font-family: 'Julius Sans One', Arial, sans-serif;
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQw2ss1vPict2Pl-d-yeuh0BLBThbSTbHEbWG_d4IGiy0KwZ6C4H_y9SE7ILQ&s');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{

    position: absolute;
    top: 100px;
    width: 100%;
    text-align: center;
    color: rgb(22, 1, 1);

}

.container {
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
}

.form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

input[type="text"] {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
}

button {
    font-size: 100%;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #eaeef160;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-family: 'Julius Sans One', Arial, sans-serif;
}

button:hover {
    background-color: #fafcffc5;
}

button.back {
    background-color: #dc3545;
}

button.back:hover {
    background-color: #c82333;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: rgba(255, 255, 255, 0.1);
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li .edit, li .delete {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #ffc107;
    color: #000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

li .delete {
    background-color: #dc3545;
    color: #fff;
}

li .edit:hover {
    background-color: #e0a800;
}

li .delete:hover {
    background-color: #c82333;
}
